@{
    ViewData["Title"] = "Birgers Bolcher";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Birgers bolche butik</h1>
    <p>Learn about <a href="~/Home/Bolcher/">Til Bolchemenu</a>.</p>
</div>
