@{
    ViewData["Title"] = "Birgers Bolcher";
}

<div class="text-center">
    <h1 class="display-4"><b>Velkommen til Birgers bolche butik<b/></h1>
    <p>Vi sælger bolcher: <a href="~/Home/Bolcher/">Gå til Bolchemenu</a>.</p>
    <br/>
    <p>Hos Birgers har vi i mange år produceret bolcher, her er en side hvor i kan købe dem fra.</p>
</div>
