@model BolcheWebsite.SQLModels.CombinationModel

@{
    ViewData["Title"] = "Customer info";
}

<h1>Se info om diverse ordre. Og Kunder</h1>

<label>
    Bolcher:
    <select name="bolcher" placeholder="Vælg Bolche" id="bolcher" onchange="SetBolche()">
        <option value="" disabled selected>Vælg Bolche</option>
    </select>
</label>

<!--WIP this should be the submit button for the select.-->
<button id="SubmitBolche" onclick="BolcheSubmit()">Søg</button>

<script>
    var bolcheData = @Html.Raw(Json.Serialize(Model.BolcheView))
</script>
