
@{
    ViewData["Title"] = "Privatlivspolitik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Privatlivspolitik</h1>
<p>Her er vores privatlivspolitik.<br/>
Vi sælger ikke dine data til nogen, slet ikke, stol på os.<br/>
Vi bruger dine data til eget privat brug.<br/>
Det er ikke det værd at tage os i retten.</p>